/* List */

.list {
  list-style: none;

  margin: 0 0 12px 0;
}

.list > .list__item {
  margin-right: 8px;
  margin-bottom: 8px;
}

.list > .list__item:last-child {
  margin-bottom: 0;
}

.list--center > .list__item {
  vertical-align: middle;
}
